.video-thumbnail img {
  
    display: grid;
    height: 400px;
  align-content: center;
    grid-template-rows: 80px 200px;
    justify-content: "flex-end";
    flex-direction: column;
  }
  
  .video-title {
    align-self: start;
    border: 0ch;
    column-gap: normal;
    display: block;
    border-end-end-radius: inherit;
    flex-direction: column;
    flex-wrap: inherit;
    list-style-position: inherit;
    text-decoration: wavy;
    font-size: 1.1rem;
    font-weight: 100;
    size: 0vmax;
    

   
  }
  
  