.video {
 margin: 2px;
  width: 100%;
  
  border: currentColor;
  
  
  position: relative;
  padding-bottom: calc(var(--aspect-ratio, .5625) * 100%);
  height: 0;

}
.video-thumbnail img {
  
  border: 5px groove rgba(0, 87, 128,90);
  padding: 50px;
  margin: 20px;

   width: 75%;
   height: auto;
  
  border-radius: 10px;
  overflow: hidden;
    display: inline-block;
    row-gap: 20;
    align-content: center;
    grid-template-rows: 80px 200px;
    justify-content: "flex-end";
    flex-direction: column;
    opacity: 1;
  }

  
  .video-title {
    
    width: fit-content;
    font-variant-east-asian: full-width;
   	transition: 1s all;
    text-align: center;
    
    column-gap: normal;
    display: block;
    border-end-end-radius: initial;
    flex-direction: column;
    flex-wrap: inherit;
    list-style-position: inherit;
    text-decoration: wavy;
    font-size: 1.3rem;
    font-weight: bolder;
    font-variant: small-caps;
    size: 0vmax;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 1px groove;
    border: 1px transparent ;
    font-stretch: condensed;
    color: rgba(red, green, blue, alpha);
    
  

   
  }
  .container mt-5 h1{
    font-style: italic;
    color:lightskyblue;
    text-align: center;

  }
  .video-title:before{
    font-family: FontAwesome;
   display: inline-block;
   padding-right: 6px;
   vertical-align: middle;
   content: "\f005";
   

  }
  
  